{% if activeOrg and activeCategory and activeCollection %}
  <div class="align-items-end">
    <div {{ stimulus_controller('modal-form', {formUrl: path('app_link_new', {'orgId': activeOrgId, 'catId': activeCatId, 'collectionId': activeCollectionId })}) }} data-action="hidden.bs.modal->modal-form#modalHidden">
      <button class="btn btn-outline-danger btn-sm" data-action="modal-form#openModal">NEW Link</button>
      {{ include("shared/_modal.html.twig", {modalTitle: 'Create a new Link'}) }}
    </div>

    <div class="row">
      {% for link in activeCollection.link %}
        <div class="col-6 mb-3 mb-sm-0">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ link.Title  }}</h5>
              <p class="card-text">{{ link.description }}</p>
              <a href="{{ link.baseUrl }}" class="btn btn-primary" target="_blank">GO!</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}