{% if activeOrg and activeCategory and activeCollection %}
  {% set sortedEntities = activeCollection.link|sort((a, b) => a.Title <=> b.Title) %}
  <div class="align-items-end">
    <div {{ stimulus_controller('modal-form', {formUrl: path('app_link_new', {'orgId': activeOrgId, 'catId': activeCatId, 'collectionId': activeCollectionId })}) }} data-action="hidden.bs.modal->modal-form#modalHidden">
      <div class="text-center my-3"><button class="btn btn-outline-danger btn-sm" data-action="modal-form#openModal">NEW Link</button></div> 
      {{ include("shared/_modal.html.twig", {modalTitle: 'Create a new Link'}) }}
    </div>
    <div class="container-fluid">
      <div class="row">
        {% for link in sortedEntities %}
          <div class="col-sm-6 col-md-3 mb-3 mb-sm-0">
          <div class="card border border-3 border-black min-vh-250 mb-3">
            <div class="card-body">
              <h5 class="card-title">{{ link.title  }}</h5>
              <p class="card-text min-vh-70">{{ link.description|replace({'\r\n':'<br />'})|raw }}</p>
              <p class="card-text">
                {% if link.siteUsername %}
                  {{ link.siteUsername }}
                  <span id="pass-{{ link.id }}">
                    {% if link.encData %}
                      /
                      <a href="javascript:void(0);" onclick="showPass({{ link.id }});">show</a>
                    {% endif %}
                  </span>
                  {% if link.encData %}
                    /
                    <a href="javascript:void(0);" onclick="copyPass({{ link.id }});">copy</a>
                  {% endif %}

                {% else %}
                  &nbsp;
                {% endif %}
              </p>
              <div {{ stimulus_controller('modal-form', {formUrl: path('app_link_edit', {'orgId': activeOrgId, 'catId': activeCatId, 'collectionId': activeCollectionId, 'id': link.id })}) }} data-action="hidden.bs.modal->modal-form#modalHidden">
                <button class="btn btn-outline-info btn-sm" data-action="modal-form#openModal">EDIT</button>
                {{ include("shared/_modal.html.twig", {modalTitle: 'EDIT LINK'}) }}
                <a href="{{ link.baseUrl }}" class="btn btn-primary" target="_blank">GO!</a>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}